<!DOCTYPE html>
<html lang=en" ng-app="secure-rest-angular-tut">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>secure-rest-angular-tut</title>
	</head>

	<body ng-controller="MainCtrl">

		<h3>Login</h3>
		<input ng-model="credentials.username" placeholder="username">
		<input ng-model="credentials.password" placeholder="password">
		<button ng-click="login()">Login!</button><button ng-click="logout()">Logout...</button><br/>
		<br/>

		<hr/>

		<h3>Calling open (non-secured) services</h3>
		<button ng-click="getOpenGreetings()">Get greetings</button> >>> {{greetings.open.getResult}}<br/>
		<input ng-model="greetings.open.postValue"/><button ng-click="postOpenGreetings()">Post greetings</button>
		<br/>

		<hr/>

		<h3>Calling secure services</h3>
		<button ng-click="getSecureGreetings()">Get secure greetings</button> >>> {{greetings.secure.getResult}}<br/>
		<input ng-model="greetings.secure.postValue"/><button ng-click="postSecureGreetings()">Post secure greetings</button>
		<br/>

	    <!-- ANGULAR -->
	    <script src="js/angular/angular.min.js" type="text/javascript"></script>
	    <script src="js/angular/angular-cookies.min.js" type="text/javascript"></script>
	    <script src="js/angular/angular-resource.min.js" type="text/javascript"></script>

		<script src="app/main.js" type="application/javascript"></script>
		<script src="app/main-controller.js" type="application/javascript"></script>
		<script src="app/cookies-service.js" type="application/javascript"></script>
		<script src="app/csrf-service.js" type="application/javascript"></script>
		<script src="app/login-service.js" type="application/javascript"></script>
	</body>
</html>
